
.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.bg-color {
    background-color: #FFF8F3;
    
}

/* font color */
.dark-1 {
    color: #181818;
}

.dark-2 {
    color: #474747;
}

span{
    color: #FD6E0A;
}

.primary-btn {
    background-color: #FD6E0A;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 20px;
    padding: 18px 35px;
    
}
.Contact-btn {
    background-color: transparent;
    font-weight: bold;
    border-color: #FD6E0A;
    border-radius: 5px;
    color: #FD6E0A;
    font-size: 20px;
    padding: 18px 35px;
    margin: 30px;
}

nav h2 {
    font-weight: 800;
    font-size: 45px;
}

.head {
    background-image: url('../images/developer.png'),url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left , bottom right;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

.bannar-gritings {
    font-weight: 600;
    font-size: 45px;
}

.bannar-head {
    font-size: 85px;
    font-weight: 700;
}
.bannar-des {
    font-size: 18px;
    color: #757575;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
   list-style: none;
   margin-right: 50px;
    
}

nav ul a {
    text-decoration: none;
}

.pp {
    width: 584px;
    height: 476;
}

.bannar {
    display: flex;
    margin: 0 35px 0 200px;
    justify-content: space-between;
}

.bannar-content {
    max-width: 585px;
}

/* main */
main {
    max-width: 1140px;
    margin: 0 auto;
}

.sec-title {
    color: #181818;
    font-size: 35px;
    font-weight: bold;
}

.sec-des {
    color: #757575;
    font-size: 18px;
    
}

.about {
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
}

.about-fg-c {
        background-color: #FFFFFF;
        padding: 5px;
        border: 2px;
        border-color: black; 
}

.items {
    display: flex;
    justify-content: space-around; 
}

.item-title {
    font-size: 20px;
    color: #757575;
}

.item-des {
    font-size: 20px; 
    color: #474747;
    font-weight: bold; 
}

.done {
    text-align: center;
    padding: 130px 116px 50px 116px;
    
}

.i-do {
    font-size: 35px;
    font-weight: bold;
    color: #181818;

}

.done-des {
    font-size: 18px;
    color: #757575;
}

.skills {
    display: flex;
    gap: 24px;
}

.skill {
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
      border-radius: 5px;
}

.main-div {
    display: flex;
    gap: 71px;
}

.resume-t {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin: 130px 0 110px 0;
    color: #181818;
}

.edu-title {
    font-size: 30px;
    font-weight: bold;
    color: #474747;
}

.edu_title {
    font-size: 25px;
    font-weight: bold;
    color: #474747;
}

.sum {
    font-size: 20px;
    color: #757575;
}
.edu-des {
    font-size: 16px;
    color: #757575;
}
hr {
    color: #D1D1D1;
}
.download {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 113px;
}

.foot {
    display: flex;
    background-color: #FFF8F3;
    gap: 100px;

    padding-bottom: 110px;
    
}

.Contact {
    margin-top: 130px;
    margin-left: 230px;
}
.c-title {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}

.c0-des {
    font-size: 16px;
    color: #474747;
}
.icon {
    margin-right: 24px;
}

.input-fild {
    margin-top: 130px;
    margin-right: 220px;
    width: 50%;
}


input[type="text"],footer textarea,input[type="email"]{
    height: 64px;
    width: 100%;
    border-radius: 5px;
    background-color: white;
    color: #757575;
    display: block;
    padding: 10px 20px;
    margin-bottom: 24px;
    font-size: 16px;
    border: none;
   
}

.c {
    margin: 0;
}